Repository Team-Plants/PLANTS, pull requests merged in 2023-12, with the labels that each got.

#8 [#2] husky, lint-staged 설정
  .husky/pre-commit
  package-lock.json
  package.json
Labels: 🌟 feat

#9 [#5] global style 설정
  src/assets/fonts/fonts.css
  src/icons/.gitkeep
  src/styles/.gitkeep
  src/styles/globals.css
  src/styles/variables.css
Labels: 🎨 style

#10 [#3] axios 설정하기
  src/constants/.gitkeep
  src/constants/common.ts
  src/libs/.gitkeep
  src/libs/api.ts
Labels: 🌟 feat

#12 [#1] github actions 부착
  .eslintrc.json
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
Labels: 🌟 feat

#16 [#15] image 이름 수정
  src/assets/icons/addBox.svg
  src/assets/icons/arrowDrop.svg
  src/assets/icons/arrowForward.svg
  src/assets/icons/bannerLogo.png
  src/assets/icons/calendar.svg
  src/assets/icons/close.svg
  src/assets/icons/crown.svg
  src/assets/icons/email.svg
  src/assets/icons/eyeClose.svg
  src/assets/icons/eyeOpen.svg
  src/assets/icons/facebook.svg
  src/assets/icons/iconWithLetter.png
  src/assets/icons/instagram.svg
  src/assets/icons/kebab.svg
  src/assets/icons/logoIcon.svg
  src/assets/icons/search.svg
  src/assets/icons/setting.svg
  src/assets/icons/unsubscribe.svg
  src/assets/icons/whiteSmileLogo.svg
  src/assets/images/Todo1.png
  src/assets/images/Todo2.png
  src/assets/images/Todo3.png
  src/assets/images/home1.png
  src/assets/images/home2.png
  src/assets/images/home3.png
  src/assets/images/home4.png
  src/assets/images/home5.png
  src/assets/images/home6.png
  src/assets/images/todo1.png
  src/assets/images/todo2.png
  src/assets/images/todo3.png
Labels: 🐞 fix, 🎨 style

#13 [#7] react-hook-form 세팅
  package-lock.json
  package.json
  src/components/formProvider/FormProvider.tsx
  src/constants/auth.ts
  src/types/FormValue.ts
Labels: 🌟 feat

#22 [#20] react-hook-form 세팅 수정
  package-lock.json
  package.json
  src/components/formProvider/SignFormProvider.tsx
  src/types/SignFormValue.ts
Labels: ⚙ env, 🐞 fix

#24 [#19] github discussion yml 파일 추가
  .github/DISCUSSION_TEMPLATE/General.yml
  .github/DISCUSSION_TEMPLATE/Q&A.yml
Labels: 🌟 feat

#14 [#6] @tanstack/react-query 설정
  .eslintrc.json
  package-lock.json
  package.json
  src/constants/queryKeys.ts
  src/libs/reactQueryProvider.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
Labels: 🌟 feat

#29 [#23] 랜딩 페이지 구현
  package-lock.json
  src/pages/_app.tsx
  src/pages/index.module.css
  src/pages/index.tsx
  src/styles/Home.module.css
Labels: 🌟 feat, style

#28 [#25] 헤더 컴포넌트 1,2 (라이트버전, 다크버전) 추가
  .github/DISCUSSION_TEMPLATE/General.yml
  package-lock.json
  package.json
  src/assets/icons/IconWithLetter.png
  src/assets/icons/LogoIcon.svg
  src/assets/icons/SmallLogo.svg
  src/assets/icons/WhiteLogoWithLetter.svg
  src/assets/icons/WhiteSmallLogo.svg
  src/assets/icons/logoWithLetter.svg
  src/components/.gitkeep
  src/components/header/DarkHeader.tsx
  src/components/header/LightHeader.tsx
  src/components/header/header.module.css
  src/styles/globals.css
Labels: 🌟 feat, style

#35 [#34] 랜딩 페이지 코드 수정
  package-lock.json
  src/assets/images/Home1.png
  src/assets/images/Home2.png
  src/assets/images/Home3.png
  src/assets/images/Home4.png
  src/assets/images/Home5.png
  src/assets/images/Home6.png
  src/pages/index.module.css
  src/pages/index.tsx
Labels: 🐞 fix, 🎨 style

#41 [#17] chip 컴포넌트
  .eslintrc.json
  package-lock.json
  src/assets/icons/Check.svg
  src/assets/icons/Circle.svg
  src/assets/icons/Plus.svg
  src/components/chip/category/category.module.css
  src/components/chip/category/categoryChip.tsx
  src/components/chip/circle/circle.module.css
  src/components/chip/circle/circleChip.tsx
  src/components/chip/number/number.module.css
  src/components/chip/number/numberChip.tsx
  src/components/chip/plus/plus.module.css
  src/components/chip/plus/plusChip.tsx
  src/components/chip/progress/progress.module.css
  src/components/chip/progress/progressChip.tsx
  src/constants/color.ts
  src/styles/variables.css
Labels: 🌟 feat, style

#44 [#18] button 컴포넌트
  src/assets/icons/ArrowLeft.svg
  src/assets/icons/ArrowRight.svg
  src/assets/icons/BlueCircle.svg
  src/assets/icons/GreenCircle.svg
  src/assets/icons/InActiveArrowLeft.svg
  src/assets/icons/InActiveArrowRight.svg
  src/assets/icons/OrangeCircle.svg
  src/assets/icons/PinkCircle.svg
  src/assets/icons/PurpleCircle.svg
  src/components/button/add/add.module.css
  src/components/button/add/addButton.tsx
  src/components/button/arrow/arrow.module.css
  src/components/button/arrow/arrowButton.tsx
  src/components/button/arrow/inActiveButton.tsx
  src/components/button/auth/auth.module.css
  src/components/button/auth/authButton.tsx
  src/components/button/button.module.css
  src/components/button/button.tsx
  src/components/button/buttonGroup.tsx
  src/components/button/column/column.module.css
  src/components/button/column/columnButton.tsx
  src/components/button/dashBoard/create/createDashBoard.module.css
  src/components/button/dashBoard/create/createDashBoardButton.tsx
  src/components/button/dashBoard/dashBoard.module.css
  src/components/button/dashBoard/dashBoardButton.tsx
  src/components/button/dashBoard/delete/deleteDashBoard.module.css
  src/components/button/dashBoard/delete/deleteDashBoardButton.tsx
  src/components/chip/category/categoryChip.tsx
  src/components/chip/circle/circleChip.tsx
  src/constants/color.ts
  src/pages/.gitkeep
  src/remotes/device.d.ts
  src/remotes/size.d.ts
  src/types/.gitkeep
Labels: 🌟 feat

#50 [#43] card 컴포넌트
  src/components/card/card.module.css
  src/components/card/card.tsx
  src/styles/breakpoints.css
Labels: 🌟 feat, style

#42 [#21] modal 관련 컴포넌트 구현
  package-lock.json
  package.json
  src/assets/icons/CheckG.svg
  src/assets/icons/imgPlus.svg
  src/components/card/card.tsx
  src/components/chip/circle/circleChip.tsx
  src/components/modal/addTodoModal/addTodoModal.tsx
  src/components/modal/alertModal/alertModal.module.css
  src/components/modal/alertModal/alertModal.tsx
  src/components/modal/button/modalButtonSet.tsx
  src/components/modal/button/modalDefaultButton.module.css
  src/components/modal/button/modalDefaultButton.tsx
  src/components/modal/button/textareaButton/textareaButton.module.css
  src/components/modal/button/textareaButton/textareaButton.tsx
  src/components/modal/editTodoModal/editTodoModal.module.css
  src/components/modal/editTodoModal/editTodoModal.tsx
  src/components/modal/input/colorChipInput/colorChipInput.tsx
  src/components/modal/input/defaultInput/defaultInput.module.css
  src/components/modal/input/defaultInput/defaultInput.tsx
  src/components/modal/input/imgInput/imgInput.module.css
  src/components/modal/input/imgInput/imgInput.tsx
  src/components/modal/input/inputLayout.module.css
  src/components/modal/input/inputLayout.tsx
  src/components/modal/input/selectInput/managerOption.module.css
  src/components/modal/input/selectInput/managerOption.tsx
  src/components/modal/input/selectInput/selectInput.module.css
  src/components/modal/input/selectInput/selectInput.tsx
  src/components/modal/input/tagInput/tagInput.module.css
  src/components/modal/input/tagInput/tagInput.tsx
  src/components/modal/inputModal/inputModal.module.css
  src/components/modal/inputModal/inputModal.tsx
  src/components/modal/inputModal/inputModalLayout.module.css
  src/components/modal/inputModal/inputModalLayout.tsx
  src/components/modal/modalCommon.module.css
  src/components/modal/modalLayout.module.css
  src/components/modal/modalLayout.tsx
  src/components/modal/newDashboardModal/newDashboardModal.module.css
  src/components/modal/newDashboardModal/newDashboardModal.tsx
  src/components/modal/textarea/textarea.module.css
  src/components/modal/textarea/textarea.tsx
  src/components/modal/todoModal/comment.module.css
  src/components/modal/todoModal/comment.tsx
  src/components/modal/todoModal/todoModal.module.css
  src/components/modal/todoModal/todoModal.tsx
  src/libs/reactQueryProvider.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/utils/utility.ts
  tsconfig.json
Labels: 🌟 feat

#46 [#32] 공통 레이아웃
  src/assets/icons/Logo.svg
  src/components/header/DarkHeader.tsx
  src/components/header/LightHeader.tsx
  src/components/header/header.module.css
  src/components/layout/authLayout.module.css
  src/components/layout/authLayout.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/login/index.tsx
  src/pages/signup/index.tsx
  src/types/Layout.ts
Labels: 🌟 feat

#56 [#55] 에러 처리
  src/assets/.gitkeep
  src/assets/fonts/.gitkeep
  src/components/error/error.tsx
  src/components/error/errorBoundary.tsx
  src/fonts/.gitkeep
  src/libs/api/.gitkeep
  src/pages/404.tsx
  src/pages/500.tsx
  src/pages/_app.tsx
Labels: 🌟 feat

#58 [#57] api 분리
  src/api/card.ts
  src/api/column.ts
  src/api/comment.ts
  src/api/dashboard.ts
  src/api/invitations.ts
  src/api/member.ts
  src/api/user.ts
  src/constants/common.ts
  src/libs/api.ts
Labels: 🌟 feat

#54 [#48] style className 수정
  src/components/button/add/add.module.css
  src/components/button/arrow/arrow.module.css
  src/components/button/arrow/arrowButton.tsx
  src/components/button/arrow/inActiveButton.tsx
  src/components/button/auth/auth.module.css
  src/components/button/button.module.css
  src/components/button/buttonGroup.tsx
  src/components/button/column/column.module.css
  src/components/button/dashBoard/create/createDashBoard.module.css
  src/components/button/dashBoard/dashBoard.module.css
  src/components/button/dashBoard/dashBoardButton.tsx
  src/components/button/dashBoard/delete/deleteDashBoard.module.css
  src/components/card/card.module.css
  src/components/chip/category/category.module.css
  src/components/chip/circle/circle.module.css
  src/components/chip/number/number.module.css
  src/components/chip/number/numberChip.tsx
  src/components/chip/plus/plus.module.css
  src/components/chip/plus/plusChip.tsx
  src/components/chip/progress/progress.module.css
  src/components/chip/progress/progressChip.tsx
  src/components/layout/authLayout.module.css
  src/components/layout/authLayout.tsx
  src/pages/index.module.css
  src/styles/globals.css
Labels: style

#38 [#37] feat : input 컴포넌트 생성
  package-lock.json
  package.json
  src/assets/icons/Vector.svg
  src/components/Input/Input.module.css
  src/components/Input/Input.tsx
  src/components/Input/emailInput.tsx
  src/components/Input/nickName.tsx
  src/components/Input/passwordCheck.tsx
  src/components/Input/passwordInput.tsx
  src/constants/auth.ts
  src/hooks/.gitkeep
  src/hooks/useAuthInput.ts
  src/styles/variables.css
  src/types/SignFormValue.ts
  tsconfig.json
Labels: 🌟 feat, style

#60 [#33] 테이블 컴포넌트 추가
  src/components/search/searchBar.module.css
  src/components/search/searchBar.tsx
  src/components/table/invitation/invitationItem.module.css
  src/components/table/invitation/invitationItem.tsx
  src/components/table/invitation/invitationList.module.css
  src/components/table/invitation/invitationList.tsx
  src/components/table/invitedDashboard/invitedItem.module.css
  src/components/table/invitedDashboard/invitedItem.tsx
  src/components/table/invitedDashboard/invitedList.module.css
  src/components/table/invitedDashboard/invitedList.tsx
  src/components/table/member/memberItem.module.css
  src/components/table/member/memberItem.tsx
  src/components/table/member/memberList.module.css
  src/components/table/member/memberList.tsx
  src/styles/breakpoints.css
  src/styles/variables.css
  src/types/Invitation.ts
  src/types/InvitedDashBoard.ts
  src/types/Member.ts
Labels: 🌟 feat, style

#52 [#40] feat : header 3 & 4 & 5
  .github/DISCUSSION_TEMPLATE/General.yml
  .github/DISCUSSION_TEMPLATE/Q&A.yml
  src/.gitkeep
  src/components/header/dashboardHeader/UsersImage.tsx
  src/components/header/dashboardHeader/dashboardHeader.module.css
  src/components/header/dashboardHeader/dashboardHeader.tsx
  src/components/nameBadge/nameBadge.module.css
  src/components/nameBadge/nameBadge.tsx
  src/styles/breakpoints.css
  src/styles/variables.css
Labels: 🌟 feat, style

#70 [#51] 대시보드 수정 페이지 구현
  src/components/button/dashBoard/return/returnButton.module.css
  src/components/button/dashBoard/return/returnButton.tsx
  src/components/header/dashboardHeader/dashboardHeader.module.css
  src/components/table/editDashboard/editDashboard.module.css
  src/components/table/editDashboard/editDashboard.tsx
  src/components/table/invitation/invitationList.module.css
  src/components/table/member/memberList.module.css
  src/pages/[id]/mydashboard.module.css
  src/pages/[id]/mydashboard.tsx
  src/styles/breakpoints.css
Labels: 🌟 feat, 🎨 style, style

#75 [#74] button 컴포넌트 수정
  src/components/button/add/add.module.css
  src/components/button/add/addButton.tsx
  src/components/button/auth/auth.module.css
  src/components/button/button.module.css
  src/components/button/button.tsx
  src/components/button/buttonGroup.tsx
  src/components/button/column/column.module.css
  src/components/button/column/columnButton.tsx
  src/components/button/dashBoard/create/createDashBoard.module.css
  src/components/button/dashBoard/create/createDashBoardButton.tsx
  src/components/button/dashBoard/dashBoard.module.css
  src/components/button/dashBoard/dashBoardButton.tsx
  src/components/button/dashBoard/delete/deleteDashBoard.module.css
  src/components/button/dashBoard/delete/deleteDashBoardButton.tsx
  src/components/button/dashBoard/return/returnButton.module.css
  src/components/table/invitation/invitationItem.tsx
  src/components/table/invitation/invitationList.tsx
  src/components/table/invitedDashboard/invitedItem.tsx
  src/components/table/member/memberItem.tsx
  src/pages/[id]/mydashboard.tsx
  src/remotes/device.d.ts
Labels: 🌟 feat

#73 [#47] mypage ui 개발
  src/components/Input/Input.module.css
  src/components/Input/Input.tsx
  src/components/Input/emailInput.tsx
  src/components/Input/nickName.tsx
  src/components/Input/passwordCheck.tsx
  src/components/Input/passwordInput.tsx
  src/components/header/dashboardHeader/dashboardHeader.module.css
  src/components/header/dashboardHeader/dashboardHeader.tsx
  src/components/profile/profileImg.module.css
  src/components/profile/profileImg.tsx
  src/components/table/password/passwordTable.module.css
  src/components/table/password/passwordTable.tsx
  src/components/table/profile/profileTable.module.css
  src/components/table/profile/profileTable.tsx
  src/constants/auth.ts
  src/hooks/useAuthInput.ts
  src/pages/mypage/index.tsx
  src/pages/mypage/mypage.module.css
  src/styles/globals.css
  src/types/SignFormValue.ts
Labels: 🌟 feat, style

#77 [#76] style : header 345
  package-lock.json
  package.json
  src/components/header/dashboardHeader/UsersImage.tsx
  src/components/header/dashboardHeader/dashboardHeader.module.css
  src/components/header/dashboardHeader/dashboardHeader.tsx
  src/components/header/dashboardHeader/usersImage.module.css
  src/components/nameBadge/nameBadge.module.css
  src/components/nameBadge/nameBadge.tsx
  src/components/table/password/passwordTable.tsx
  src/components/table/profile/profileTable.tsx
  src/styles/variables.css
Labels: 🌟 feat, 🎨 style, style

#84 [#53] signin, signup 기능 개발
  src/api/user.ts
  src/components/Input/Input.module.css
  src/components/Input/Input.tsx
  src/components/Input/checkboxInput.tsx
  src/components/button/auth/authButton.tsx
  src/components/formProvider/SignFormProvider.tsx
  src/components/layout/authLayout.module.css
  src/components/layout/authLayout.tsx
  src/hooks/useAuthInput.ts
  src/pages/_app.tsx
  src/pages/api/login.ts
  src/pages/api/withAuthHandler.ts
  src/pages/index.tsx
  src/pages/login/index.tsx
  src/pages/mypage/index.tsx
  src/pages/signup/index.tsx
  src/types/Layout.ts
  src/types/SignFormValue.ts
Labels: 🌟 feat

#78 [#61] 대시보드 페이지 추가
  src/components/chip/circle/circleChip.tsx
  src/components/chip/number/number.module.css
  src/components/header/dashboardHeader/dashboardHeader.module.css
  src/components/header/header.module.css
  src/pages/boards/boards.module.css
  src/pages/boards/index.tsx
Labels: 🌟 feat

#92 [#89] 초대하기 모달 기능 개발
  src/api/dashboard.ts
  src/components/modal/button/modalButtonSet.tsx
  src/components/table/invitation/invitationList.tsx
  src/constants/queryKeys.ts
  src/pages/[id]/mydashboard.tsx
  src/pages/api/withAuthHandler.ts
  src/pages/index.tsx
Labels: 🌟 feat

#94 [#93] 2 파일 삭제
  src/components/Input/checkboxInput 2.tsx
  src/components/button/dashBoard/return/returnButton 2.tsx
  src/components/button/dashBoard/return/returnButton.module 2.css
  src/components/header/dashboardHeader/usersImage.module 2.css
  src/components/profile/profileImg 2.tsx
  src/components/profile/profileImg.module 2.css
  src/components/table/editDashboard/editDashboard 2.tsx
  src/components/table/editDashboard/editDashboard.module 2.css
  src/components/table/invitedDashboard/.invitedList.tsx.swp
  src/components/table/password/passwordTable 2.tsx
  src/components/table/password/passwordTable.module 2.css
  src/components/table/profile/profileTable 2.tsx
  src/components/table/profile/profileTable.module 2.css
  src/pages/[id]/mydashboard 2.tsx
  src/pages/[id]/mydashboard.module 2.css
  src/pages/api/login 2.ts
  src/pages/api/withAuthHandler 2.ts
  src/pages/mypage/index 2.tsx
  src/pages/mypage/mypage.module 2.css
Labels: ⚙ env

#98 [#97] 초대하기 수정
  src/pages/[id]/mydashboard.tsx
Labels: 🐞 fix

#101 [#100] 할일 생성 모달 기능 구현
  next.config.js
  src/api/card.ts
  src/api/column.ts
  src/api/member.ts
  src/components/button/add/addButton.tsx
  src/components/modal/addTodoModal/addTodoModal.tsx
  src/components/modal/button/modalButtonSet.tsx
  src/components/modal/button/modalDefaultButton.module.css
  src/components/modal/button/modalDefaultButton.tsx
  src/components/modal/input/defaultInput/defaultInput.tsx
  src/components/modal/input/imgInput/imgInput.tsx
  src/components/modal/input/selectInput/managerOption.tsx
  src/components/modal/input/selectInput/selectInput.module.css
  src/components/modal/input/selectInput/selectInput.tsx
  src/components/modal/textarea/textarea.tsx
  src/libs/api.ts
  src/pages/api/getToken.ts
  src/pages/boards/index.tsx
  src/types/column.ts
  src/utils/utility.ts
Labels: 🌟 feat

#103 [#88] 대시보드 수정 페이지의 기능 구현
  src/api/dashboard.ts
  src/api/invitations.ts
  src/api/member.ts
  src/components/button/arrow/paginationArrowButton.module.css
  src/components/button/arrow/paginationArrowButton.tsx
  src/components/sideMenu/SideMenu.tsx
  src/components/table/editDashboard/editDashboard.module.css
  src/components/table/editDashboard/editDashboard.tsx
  src/components/table/invitation/invitationItem.tsx
  src/components/table/invitation/invitationList.tsx
  src/components/table/member/memberItem.tsx
  src/components/table/member/memberList.tsx
  src/constants/queryKeys.ts
  src/pages/[id]/mydashboard.tsx
  src/types/Invitation.ts
Labels: 🌟 feat

#104 [#82] feat : 공통 Layout 생성
  src/components/header/dashboardHeader/dashboardHeader.module.css
  src/components/layout/layout.module.css
  src/components/layout/layout.tsx
  src/components/layout/nestedLayout.module.css
  src/components/layout/nestedLayout.tsx
  src/components/sideMenu/SideMenu.tsx
  src/pages/[id]/mydashboard.module.css
  src/pages/[id]/mydashboard.tsx
  src/pages/boards/boards.module.css
  src/pages/boards/index.tsx
  src/pages/mydashboard/index.tsx
  src/pages/mypage/index.tsx
Labels: 🌟 feat, 🔨 refactor, 🎨 style
