Repository Team-Plants/PLANTS, pull requests merged in 2024-01, with the labels that each got.

#113 [#108] 대시보드 삭제 기능, 삭제 후 페이지 라우팅 구현
  src/api/dashboard.ts
  src/components/button/dashBoard/delete/deleteDashBoardButton.tsx
  src/pages/[id]/mydashboard.tsx
Labels: 🌟 feat

#107 [#63] 할 일 카드 모달 api
  package-lock.json
  package.json
  src/api/card.ts
  src/api/comment.ts
  src/components/button/card/kebab.module.css
  src/components/button/card/kebabButton.tsx
  src/components/card/card.tsx
  src/components/chip/number/numberChip.tsx
  src/components/modal/button/modalButtonSet.tsx
  src/components/modal/button/modalDefaultButton.tsx
  src/components/modal/editTodoModal/editTodoModal.tsx
  src/components/modal/modalLayout.tsx
  src/components/modal/todoModal/comment.tsx
  src/components/modal/todoModal/todoModal.module.css
  src/components/modal/todoModal/todoModal.tsx
  src/constants/queryKeys.ts
  src/pages/boards/index.tsx
  src/remotes/custom.d.ts
  src/types/Card.ts
  src/types/Comment.ts
  src/types/User.ts
  tsconfig.json
Labels: 🌟 feat

#96 [#79, #105] 칼럼 추가, 칼럼 수정, 칼럼 삭제 (isOpen 문제 있음, 플러스버튼 작음, 모달크기 엄청큼 🚨🚨🚨)
  src/api/card.ts
  src/api/column.ts
  src/api/member.ts
  src/components/button/column/columnButton.tsx
  src/components/card/card.module.css
  src/components/column/column.module.css
  src/components/column/column.tsx
  src/components/modal/addTodoModal/addTodoModal.tsx
  src/components/modal/button/activeModalButtonSet.tsx
  src/components/modal/button/modalButtonSet.tsx
  src/components/modal/input/defaultInput/defaultInput.module.css
  src/components/modal/input/defaultInput/defaultInput.tsx
  src/components/modal/inputModal/inputModal.tsx
  src/components/modal/modalLayout.tsx
  src/components/modal/newDashboardModal/newDashboardModal.tsx
  src/constants/MockData.ts
  src/constants/auth.ts
  src/constants/queryKeys.ts
  src/libs/reactQueryProvider.tsx
  src/pages/boards/boards.module.css
  src/pages/boards/index.tsx
  src/pages/dashboard/[id]/dashboard.module.css
  src/pages/dashboard/[id]/index.tsx
  src/pages/login/index.tsx
  src/types/Column.ts
Labels: 🌟 feat

#116 [#110] header 기능 구현
  package-lock.json
  src/api/dashboard.ts
  src/api/member.ts
  src/api/user.ts
  src/components/button/dashBoard/create/paginationCreateDashboard/paginationCreateDashboard.tsx
  src/components/header/dashboardHeader/UsersImage.tsx
  src/components/header/dashboardHeader/dashboardHeader.tsx
  src/components/layout/layout.tsx
  src/components/modal/addTodoModal/addTodoModal.tsx
  src/components/modal/todoInvite/todoInvite.tsx
  src/components/nameBadge/nameBadge.tsx
  src/components/table/invitation/invitationList.tsx
  src/components/table/member/memberList.tsx
  src/constants/queryKeys.ts
  src/pages/[id]/mydashboard.tsx
  src/pages/dashboard/[id]/index.tsx
  src/pages/mydashboard/index.tsx
  src/pages/mypage/index.tsx
  src/styles/variables.css
  src/types/ Columns.ts
  src/types/Assign.ts
  src/types/Card.ts
  src/types/Comment.ts
  src/types/column.ts
  src/utils/utility.ts
Labels: 🌟 feat, style

#123 [#109] 사이드메뉴, 대시보드 페이지, 대시보드 수정 페이지 라우팅 재구축
  src/components/header/dashboardHeader/dashboardHeader.tsx
  src/components/layout/layout.tsx
  src/components/modal/addTodoModal/addTodoModal.tsx
  src/components/modal/newDashboardModal/newDashboardModal.tsx
  src/components/sideMenu/SideMenu.tsx
  src/pages/dashboard/[id]/edit/dashboardEditPage.module.css
  src/pages/dashboard/[id]/edit/index.tsx
  src/pages/dashboard/[id]/index.tsx
Labels: ⚙ env, 🌟 feat, 🐞 fix

#126 [#99] 전체적인 css 수정 및 media query value 처리
  src/components/Input/Input.module.css
  src/components/Input/Input.tsx
  src/components/button/button.module.css
  src/components/button/button.tsx
  src/components/button/buttonGroup.tsx
  src/components/button/dashBoard/create/createDashBoard.module.css
  src/components/button/dashBoard/create/paginationCreateDashboard/paginationCreateDashboard.module.css
  src/components/button/dashBoard/dashBoard.module.css
  src/components/button/dashBoard/dashBoardButton.tsx
  src/components/chip/category/categoryChip.tsx
  src/components/column/column.module.css
  src/components/column/column.tsx
  src/components/layout/layout.module.css
  src/components/layout/layout.tsx
  src/components/layout/nestedLayout.module.css
  src/components/layout/nestedLayout.tsx
  src/components/search/searchBar.module.css
  src/components/sideMenu/sideMenu.module.css
  src/components/table/invitedDashboard/invitedItem.module.css
  src/components/table/invitedDashboard/invitedList.module.css
  src/components/table/invitedDashboard/invitedList.tsx
  src/components/table/password/passwordTable.module.css
  src/components/table/password/passwordTable.tsx
  src/components/table/profile/profileTable.module.css
  src/pages/dashboard/[id]/dashboard.module.css
  src/pages/dashboard/[id]/edit/dashboardEditPage.module.css
  src/pages/dashboard/[id]/edit/index.tsx
  src/pages/index.module.css
  src/pages/index.tsx
  src/pages/mydashboard/index.module.css
  src/pages/mydashboard/index.tsx
  src/pages/mypage/index.module.css
Labels: 🎨 style

#125 [#114] 메인 페이지 추가 구현
  src/pages/index.module.css
  src/pages/index.tsx
Labels: 🌟 feat

#111 [#102] mydashboard 페이지 기능 구현
  src/api/dashboard.ts
  src/api/invitations.ts
  src/components/button/arrow/paginationArrowButton.module.css
  src/components/button/buttonGroup.tsx
  src/components/button/dashBoard/create/createDashBoardButton.tsx
  src/components/button/dashBoard/create/paginationCreateDashboard/paginationCreateDashboard.tsx
  src/components/button/dashBoard/dashBoardButton.tsx
  src/components/modal/newDashboardModal/newDashboardModal.tsx
  src/components/search/searchBar.module.css
  src/components/search/searchBar.tsx
  src/components/table/invitedDashboard/invitedItem.module.css
  src/components/table/invitedDashboard/invitedItem.tsx
  src/components/table/invitedDashboard/invitedList.module.css
  src/components/table/invitedDashboard/invitedList.tsx
  src/constants/queryKeys.ts
  src/hooks/useDebounce.ts
  src/hooks/useIntersectionObserver.ts
  src/pages/mydashboard/index.module.css
  src/pages/mydashboard/index.tsx
Labels: 🌟 feat

#128 [#127] 대시보드 쿼리키 & api 하나로 수정, sidemenu put mutation 추가
  src/api/dashboard.ts
  src/components/sideMenu/SideMenu.tsx
  src/components/table/editDashboard/editDashboard.tsx
  src/constants/queryKeys.ts
  src/pages/dashboard/[id]/edit/index.tsx
  src/pages/dashboard/[id]/index.tsx
  src/pages/mydashboard/index.tsx
Labels: 🔨 refactor

#122 [#106] 계정 관리 기능 개발
  src/api/mypage.ts
  src/api/user.ts
  src/components/Input/Input.module.css
  src/components/Input/Input.tsx
  src/components/Input/nickName.tsx
  src/components/Input/noWorkEmailInput.tsx
  src/components/formProvider/SignFormProvider.tsx
  src/components/modal/addTodoModal/addTodoModal.tsx
  src/components/modal/input/defaultInput/defaultInput.module.css
  src/components/modal/input/defaultInput/defaultInput.tsx
  src/components/modal/input/imgInput/imgInput.module.css
  src/components/modal/input/imgInput/imgInput.tsx
  src/components/modal/modalLayout.tsx
  src/components/table/member/memberItem.tsx
  src/components/table/password/passwordTable.tsx
  src/components/table/profile/profileTable.tsx
  src/constants/auth.ts
  src/pages/mydashboard/index.tsx
  src/pages/mypage/index.tsx
  src/pages/mypage/mypage.module.css
  src/types/Member.ts
Labels: 🌟 feat

#133 [#124] 사이드메뉴 기능 복구, 사이드메뉴 렌더링 문제 해결
  src/api/dashboard.ts
  src/components/layout/layout.tsx
  src/components/sideMenu/SideMenu.tsx
  src/components/sideMenu/sideMenu.module.css
  src/hooks/useIntersectionObserver.ts
Labels: 🌟 feat, 🐞 fix

#136 [#131] 버튼 미디어쿼리 수정, 초대받은 대시보드 css 수정
  src/assets/icons/WhiteAddBox.svg
  src/components/button/button.module.css
  src/components/button/button.tsx
  src/components/button/buttonGroup.tsx
  src/components/button/invitation/invitation.module.css
  src/components/button/invitation/invitation.tsx
  src/components/table/invitation/invitationItem.module.css
  src/components/table/invitation/invitationList.module.css
  src/components/table/invitation/invitationList.tsx
  src/components/table/invitedDashboard/invitedItem.module.css
  src/components/table/invitedDashboard/invitedItem.tsx
  src/components/table/invitedDashboard/invitedList.module.css
Labels: 🐞 fix

#141 [#135] addtomodal 데이터 카드 api 연결
  src/components/modal/addTodoModal/addTodoModal.tsx
Labels: 🌟 feat, 🐞 fix

#139 [#134] 사이드메뉴 렌더링 문제 해결
  src/components/modal/newDashboardModal/newDashboardModal.tsx
  src/components/sideMenu/SideMenu.tsx
  src/components/table/editDashboard/editDashboard.tsx
  src/pages/mydashboard/index.tsx
Labels: 🌟 feat, 🐞 fix

#137 [#120] 모달 동시 열림 오류 수정
  src/components/column/column.tsx
  src/components/modal/addTodoModal/addTodoModal.tsx
  src/components/modal/editTodoModal/editTodoModal.tsx
  src/components/modal/inputModal/inputModal.tsx
  src/components/modal/modalLayout.tsx
  src/components/modal/todoModal/comment.tsx
  src/components/modal/todoModal/todoModal.tsx
  src/pages/dashboard/[id]/index.tsx
Labels: 🐞 fix

#146 [#144] addTodoModal form enterkey submit 막음
  src/components/modal/addTodoModal/addTodoModal.tsx
Labels: 🔨 refactor

#148 [#143] layout을 사용하는 페이지들의 가로 길이 반응형 디자인 수정
  src/components/button/dashBoard/create/paginationCreateDashboard/paginationCreateDashboard.module.css
  src/components/layout/layout.module.css
  src/components/table/editDashboard/editDashboard.module.css
  src/components/table/invitation/invitationList.module.css
  src/components/table/invitedDashboard/invitedList.module.css
  src/components/table/member/memberList.module.css
  src/pages/dashboard/[id]/edit/dashboardEditPage.module.css
  src/pages/dashboard/[id]/index.tsx
  src/pages/mypage/mypage.module.css
Labels: 🐞 fix, 🎨 style

#142 [#140] 태그 input 수정
  src/components/modal/input/tagInput/tagInput.tsx
  src/pages/dashboard/[id]/edit/index.tsx
  src/pages/dashboard/[id]/index.tsx
Labels: 🌟 feat

#150 [#119] 댓글 기능 수정
  src/components/column/column.tsx
  src/components/modal/todoModal/comment.tsx
  src/components/modal/todoModal/todoModal.module.css
  src/components/modal/todoModal/todoModal.tsx
  src/pages/dashboard/[id]/index.tsx
Labels: 🐞 fix

#153 [#151] feat: 로그아웃 추가 및 헤더 마이페이지 이동 추가
  src/components/header/dashboardHeader/dashboardHeader.module.css
  src/components/header/dashboardHeader/dashboardHeader.tsx
  src/pages/api/logout.ts
  src/pages/mypage/index.tsx
  src/pages/mypage/mypage.module.css
Labels: 🌟 feat

#159 [#158] fix: 로그아웃 시 랜딩페이지 접근 처리
  src/pages/index.tsx
Labels: 🐞 fix

#157 [#155] fix: 카드 태그 기본값 수정
  src/components/card/card.tsx
  src/components/chip/category/categoryChip.tsx
  src/components/column/column.tsx
  src/components/modal/input/tagInput/tagInput.tsx
Labels: 🐞 fix

#156 [#152] fix : 'dashboard/[id]/edit' pagination error 수정
  src/components/table/member/memberItem.module.css
  src/components/table/member/memberItem.tsx
  src/components/table/member/memberList.tsx
  src/pages/dashboard/[id]/edit/index.tsx
Labels: 🐞 fix

#166 [#154] layout에 포함된 사이드메뉴, 헤더 위치 고정
  src/components/header/dashboardHeader/dashboardHeader.module.css
  src/components/layout/layout.module.css
  src/components/layout/layout.tsx
  src/components/sideMenu/sideMenu.module.css
Labels: 🌟 feat, 🎨 style

#168 [#167] 사이드메뉴 각 대시보드 마우스 호버했을 때 색 변경
  src/components/sideMenu/SideMenu.tsx
  src/components/sideMenu/sideMenu.module.css
  src/components/sideMenu/sideMenuItem.module.css
  src/components/sideMenu/sideMenuItem.tsx
Labels: 🌟 feat, 🎨 style

#170 [#169] 모바일 환경에서 특정 버튼 클릭 시 사이드메뉴 가로 넓이 확장
  src/assets/icons/DoubleArrowLeft.png
  src/assets/icons/DoubleArrowRight.png
  src/components/sideMenu/SideMenu.tsx
  src/components/sideMenu/sideMenu.module.css
  src/components/sideMenu/sideMenuItem.module.css
  src/components/sideMenu/sideMenuItem.tsx
Labels: 🌟 feat, 🎨 style

#176 [#172]로그인 페이지 스타일 수정
  src/components/button/auth/auth.module.css
  src/components/button/auth/authButton.tsx
  src/components/layout/authLayout.module.css
Labels: 🎨 style

#177 [#173] 컬럼 수정, 삭제 즉시 반영
  src/api/column.ts
  src/pages/dashboard/[id]/index.tsx
Labels: 🌟 feat

#178 [#165] 계정관리 프로필 이미지
  src/components/modal/input/imgInput/imgInput.module.css
  src/components/modal/input/imgInput/profileImgInput.tsx
  src/components/table/profile/profileTable.tsx
Labels: 🌟 feat

#179 [#164] todomodal card data 연결
  src/components/button/card/kebabButton.tsx
  src/components/chip/progress/progressChip.tsx
  src/components/modal/todoModal/todoModal.module.css
  src/components/modal/todoModal/todoModal.tsx
  src/pages/dashboard/[id]/index.tsx
Labels: 🌟 feat, 🔨 refactor

#182 [#180] 컬러 배지 함수 수정
  src/components/card/card.tsx
  src/components/modal/input/tagInput/tagInput.tsx
  src/utils/utility.ts
Labels: 🐞 fix

#184 [#183] 부분적인 CSS 수정
  src/components/button/dashBoard/dashBoard.module.css
  src/components/modal/modalLayout.module.css
  src/components/sideMenu/SideMenu.tsx
  src/components/sideMenu/sideMenu.module.css
  src/pages/index.module.css
  src/pages/index.tsx
Labels: 🎨 style

#163 [#161] gradint
  package-lock.json
  package.json
  src/pages/_app.tsx
  src/utils/gradient.ts
Labels: 🌟 feat

#185 [#175] mydashboard 페이지에서 대시보드 생성 시 사이드메뉴에 대시보드 추가되지 않는 문제 해결
  src/components/layout/layout.tsx
  src/components/sideMenu/SideMenu.tsx
  src/pages/mydashboard/index.tsx
Labels: 🐞 fix

#188 [#189] feat: 대시보드 수정 페이지에서 헤더 내부의 관리 버튼 제거
  src/components/header/dashboardHeader/dashboardHeader.tsx
  src/components/layout/layout.tsx
  src/pages/dashboard/[id]/index.tsx
Labels: 🐞 fix

#190 [#189] 대시보드 수정 페이지에서 헤더 내부의 초대하기 버튼과 멤버 컬러칩의 위치를 변경
  src/components/header/dashboardHeader/dashboardHeader.module.css
  src/components/header/dashboardHeader/dashboardHeader.tsx
Labels: 🐞 fix

#192 [#191] 배포 환경에서 관리 버튼으로 대시보드 수정 페이지 접근 시 초대하기 모달이 팝업되고 닫히지 않는 문제 해결 3차 시도
  src/components/table/invitation/invitationList.tsx
  src/pages/dashboard/[id]/edit/index.tsx
Labels: 🐞 fix

#194 [#193] 배포 환경에서 관리 버튼으로 대시보드 수정 페이지 접근 시 초대하기 모달이 팝업되고 닫히지 않는 문제 해결 4차 시도
  src/components/modal/modalLayout.tsx
Labels: 🐞 fix

#202 [#201] 로그인, 회원가입 페이지에서 입력 조건을 충족했을 때 로그인, 회원가입 버튼의 디자인 오류 수정
  src/components/button/auth/auth.module.css
Labels: 🐞 fix, 🎨 style

#197 [#195] fix : debouncedSearchValue존재에 따라 cursorId & value기준을 재설정
  src/components/table/invitedDashboard/invitedList.tsx
Labels: 🐞 fix

#198 [#196] fix : 거절 & 수락 시 무한스크롤 마지막 cursorId유지 수정
  src/components/table/invitedDashboard/invitedList.tsx
Labels: 🐞 fix

#204 [#203] fix : 컬럼 관리 모달 외부 클릭 시 닫힘 수정
  src/components/modal/modalLayout.tsx
  src/pages/dashboard/[id]/index.tsx
Labels: 🐞 fix

#205 [#199] refactor : 할일 생성 매니저 드롭다운 외부 클릭시 닫힘 & 태그 css 적용안됨 수정
  src/components/modal/input/selectInput/selectInput.tsx
  src/components/modal/input/tagInput/tagInput.module.css
  src/components/modal/input/tagInput/tagInput.tsx
  src/hooks/useShowDropDown.ts
Labels: 🐞 fix, 🔨 refactor

#208 [#147] mypage 미디어쿼리
  src/components/Input/Input.module.css
  src/components/button/arrow/paginationArrowButton.tsx
  src/components/button/button.module.css
  src/components/modal/addTodoModal/addTodoModal.tsx
  src/components/modal/input/defaultInput/defaultInput.module.css
  src/components/modal/newDashboardModal/newDashboardModal.tsx
  src/components/table/editDashboard/editDashboard.tsx
  src/components/table/member/memberItem.tsx
  src/components/table/member/memberList.tsx
  src/components/table/password/passwordTable.module.css
  src/components/table/profile/profileTable.module.css
  src/pages/mypage/index.tsx
  src/pages/mypage/mypage.module.css
Labels: 🌟 feat, 🎨 style
